{% extends "base.html" %}
{% block title %}Oops!{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="text-2xl font-bold mb-4">Login failed.</h1>
    <p class="mb-4">{{ error }}</p>
    <div class="my-6">
        <a href='/auth/oidc/redirect'
            class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">Try
            again</a>
    </div>
</div>
{% endblock %}