{% extends "base.html" %}
{% block title %}Logged in!{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="text-center">
    <div class="my-6">
        <h2 class="text-xl font-semibold mb-6 text-gray-800">I want to login to this browser</h2>
        <form method="post">
            <input type="hidden" name="code" value="{{ code }}">
            <button type="submit"
                class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
                Login to Home Assistant in this browser
            </button>
        </form>
    </div>

    <hr class="my-12">

    <div class="my-6">
        <h2 class="text-xl font-semibold mb-4 text-gray-800">I am on a mobile device</h2>
        <p class="mb-4">Your one-time code is: <b class="text-blue-600 text-xl">{{ code }}</b></p>
        <p class="mb-4 text-sm">You have 5 minutes to use this code on any device.<br />The code can only
            be used once.</p>
        <p class="mb-4 text-sm">Please type the code into your app manually. If you don't see a code input, select
            'Login with
            OpenID Connect (SSO)' first.</p>
    </div>
</div>
{% endblock %}