{% extends "base.html" %}
{% block title %}Logged in! - Home Assistant{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div>
    <h1 class="mb-4 text-center text-3xl font-normal">Logged in!</h1>
    <div class="mb-4 rounded-lg border border-divider bg-background p-6 text-left">
        <h2 class="mb-2 text-lg font-medium text-foreground">Continue on this device</h2>
        <p class="mb-4 text-sm text-muted">Tap Continue to login to Home Assistant on this device.</p>
        <form method="post">
            <button
                id="continue-on-this-device"
                type="submit"
                class="inline-flex items-center justify-center w-full h-10 px-4 bg-primary text-white font-medium leading-none rounded-full
                    transition-colors duration-150 ease-out hover:bg-primary-hover
                    focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-focus
                    hover:cursor-pointer"
            >
                Continue on this device
            </button>
        </form>
    </div>

    <div class="rounded-lg border border-divider bg-background p-6 text-left">
        <h2 class="mb-2 text-lg font-medium text-foreground">Use a code from another device</h2>
        <p class="mb-2 text-sm text-muted">On your other device, open the Home Assistant app. You will see a
                6-digit code.</p>
            <p class="mb-4 text-sm text-muted">Input that code here and click Approve to login on the other device.
            </p>
            <form method="post">
                <div>
                    <input 
                        type="tel" 
                        id="device-code-input"
                        name="device_code"
                        required
                        minlength="6"
                        maxlength="6"
                        pattern="[0-9]{6}"
                        inputmode="numeric"
                        placeholder="123456"
                        class="mb-4 h-14 w-full rounded-t-lg border-b-2 border-input-border bg-input px-4 text-center text-base
                        tracking-[0.15em] text-foreground placeholder:text-muted transition-colors
                        hover:bg-input-hover focus:border-primary focus:outline-none"
                        >
                </div>
                <button 
                    id="approve-login-button"
                    type="submit"
                    class="inline-flex items-center justify-center w-full h-10 px-4 bg-card text-primary
                        font-medium leading-none rounded-full border border-primary transition-colors duration-150 ease-out hover:bg-input
                        focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-focus hover:cursor-pointer"
                    >
                    Approve login on the other device
                </button>
            </form>
    </div>
</div>
{% endblock %}