{% extends "base.html" %}
{% block title %}OIDC Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="text-center">
    <div id="signed-in" class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative mb-8 hidden"
        role="alert">
        <p>You seem to be logged in already.</p>
        <p><a href="/" class="text-blue-600 hover:underline hover:text-blue-700 font-bold">Open the Home Assistant
                dashboard</a></p>
    </div>

    <h1 class="text-2xl font-bold mb-4">Home Assistant</h1>
    <p class="mb-4">You have been invited to login to Home Assistant.<br />Start the login process below.</p>

    <div>
        <button id="oidc-login-btn"
            class="w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75">
            Login with {{ name }}
        </button>

        <div role="status" id="loader" class="items-center justify-center flex hidden">
            <svg aria-hidden="true" class="w-10 h-10 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <span class="sr-only">Redirecting...</span>
        </div>
    </div>

    <p class="mt-6 text-sm">After login, you will be granted a one-time code to login to any device. You may complete
        this login on your desktop or any mobile browser and then use the token for any desktop or the Home Assistant
        app.</p>
</div>
<script>
    // Hide the login button and show the loader when clicked
    document.getElementById('oidc-login-btn').addEventListener('click', function () {
        this.classList.add('hidden');
        document.getElementById('loader').classList.remove('hidden');
        window.location.href = '/auth/oidc/redirect';
    });

    // Show the direct login button if we already have a token
    if (localStorage.getItem('hassTokens')) {
        document.getElementById('signed-in').classList.remove('hidden');
    }
</script>
{% endblock %}