{% extends "base.html" %}
{% block title %}OIDC Login – Home Assistant{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="card">
    {% if code %}
        <p id="device-instructions">Please login to Home Assistant on another device and enter this code when asked:</p>
        <div id="device-code" class="code-display">{{ code }}</div>
        <p>The login will continue automatically when you complete the login on your other device. Please keep the app open.</p>
        <script>
            var source = new EventSource('/auth/oidc/device-sse');

            source.addEventListener('ready', function () {
                source.close();

                var form = document.createElement('form');
                form.method = 'POST';
                form.action = '/auth/oidc/finish';
                document.body.appendChild(form);
                form.submit();
            });

            source.addEventListener('error', function () {
                source.close();
            });
        </script>
    {% else %}
        <a id="login-button" href="/auth/oidc/redirect" class="btn-primary">
            Login with {{ name }}
        </a>
    {% endif %}

    {% if other_link %}
        <h3 class="auth-divider"><span><a id="alternative-sign-in-link" href="{{ other_link }}">Continue with default login</a></span></h3>
    {% endif %}
</div>
{% endblock %}
